div.row {
  display: flex;
  justify-content: center;
}

ul.today {
  list-style: none;
  font-size: 14px;

  margin-left: 12px;
  margin-right: 12px;
}

ul.forecast {
  padding: 16px;
  list-style: none;
  background-color: blueviolet;
  border-style: solid;
  border: 5px, black;
  margin-left: 10px;
  margin-right: 10px;

  text-align: center;
}
.col-4 {
  padding: 38px;
}
.col-2 {
  font-size: 14px;
}
h2 {
  font-size: 48px;
}
h1 {
  font-size: 66px;
  text-align: center;
}
body {
  background-color: blue;
}
