div.row {
  display: flex;
  justify-content: center;
}

ul.today {
  list-style: none;
  font-size: 14px;

  margin-left: 12px;
  margin-right: 12px;
}

ul.forecast {
  padding: 36px;
  list-style: none;

  text-align: center;
}
.col-4 {
  padding: 38px;
}
.col-2 {
  font-size: 14px;
}
h2 {
  font-size: 48px;
}
h1 {
  font-size: 66px;
  text-align: center;
}
body {
  background-color: blue;
}
