div.row {
  display: flex;
  justify-content: center;

  margin-left: 300px;
  margin-right: 300px;
}

ul.today {
  list-style: none;
  font-size: 14px;
  margin-left: 12px;
  margin-right: 12px;
}

ul.forecast {
  padding: 5px;
  list-style: none;
  background-color: rgb(196, 93, 119);
  opacity: 65%;
  border-style: solid;
  border: 5px, solid, black;
  margin-left: 10px;
  margin-right: 10px;

  text-align: center;
}
.col-4 {
  padding: 38px;
}
.col-2 {
  font-size: 14px;
}
h2 {
  font-size: 48px;
}
h1 {
  font-size: 66px;
  text-align: center;
}
body {
  background-image: url(./Images/future.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  margin-left: 300px;
}
