ul.today {
  list-style: none;
  font-size: 14px;
}

img.nowImage {
}

h2 {
  font-size: 65px;
}
h1 {
  font-size: 60px;
  text-align: left;
  color: black;
  margin-left: -150px;
}

p {
  margin-left: 300px;
}
.celfar {
  font-size: 20px;
}
