.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
.col {
  margin-right: 8px;
  border-style: solid;
  border-radius: 7.5%;
}
.WeatherForecast-day {
  font-weight: bold;
  margin-top: 7px;
}
.WeatherForecast-temperatures {
  font-weight: bold;
  margin-bottom: 7px;
}
