ul.today {
  list-style: none;
  font-size: 14px;
  margin-left: 12px;
  margin-right: 12px;
}

.col-4 {
  padding: 38px;
}

h2 {
  font-size: 48px;
}
h1 {
  font-size: 66px;
  text-align: center;
}
body {
  background-image: url(./Images/future.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  margin-left: 300px;
}
